body {
  background-image: url('C:\Users\dhoum\Desktop\projet bigData\sugar_sense\src\Background.jpg'); /* Remplace par l'URL de ton image */
  background-size: cover;
  background-position: center ; 
  background-repeat: no-repeat; 
  margin: 0;
  height: 100vh; 
  background-attachment: fixed;
  overflow: hidden;
  
}

.title {
  opacity: 0.5; 
  color:black; 
  font-size: 60px;
  margin-left: 40px;
  font-style: oblique;
}


.Description
{
  margin-left: 30px;
  margin-top: 70px;
  font-size: medium;
  font-style: oblique;

}


.P1 {
  font-size: 24px; 
  animation: colorChange 1s infinite; 
  margin-left: 200px;
  margin-top: 150px;
  font-style:oblique;
}

@keyframes colorChange {
  
  0% {
      color: red; 
  }
  100% {
    color:tomato; 
}
}

button {
  background-color:tomato; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 30px; 
  cursor: pointer; 
  border-radius: 30px; 
  margin-bottom: 30px; 
  margin-top: 20px;
  margin-left: 300px;
}

button:hover {
  background-color: rgb(243, 57, 24); 
}